{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .antonio {
            font-family: 'Antonio', sans-serif;
            font-weight:100;
        }
    </style>
</head>
<body class="bg-gray-800">
    <div class="flex items-center justify-between h-20 pl-8">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <img class="w-6 mr-1 -mt-1" src="{% static 'images/fireheart_white.svg' %}"/>
                <span class="text-lg font-bold text-white">TTugTTag</span>
            </a>
        </logo>
    </div>

    <content class="block my-32 px-6 text-center">
        {% block content %}
        {% endblock %}
    </content>    
</body>
</html>