{% extends 'a_landingpages/base.html' %}

{% block content %}
    <h1 class="antonio text-6xl mb-8 leading-tight text-white">Site is currently down for maintenance</h1>
    <h2 class="mb-8 font-light text-white">We will be back very soon</h2>
    <div class="flex justify-center">
        {% comment %} <img width="128" height="128" src="https://img.icons8.com/external-bearicons-gradient-bearicons/64/external-Sad-emojis-bearicons-gradient-bearicons-5.png" alt="external-Sad-emojis-bearicons-gradient-bearicons-5"/> {% endcomment %}
        {% comment %} <img width="128" height="128" src="https://img.icons8.com/external-bearicons-gradient-bearicons/64/external-Sad-emojis-bearicons-gradient-bearicons-5.png"/> {% endcomment %}
        {% comment %} <img width="128" height="128" src="https://img.icons8.com/external-bearicons-gradient-bearicons/250/external-Sad-emojis-bearicons-gradient-bearicons-5.png"/> {% endcomment %}
        <img src="https://img.icons8.com/external-bearicons-gradient-bearicons/250/external-Sad-emojis-bearicons-gradient-bearicons-5.png"/>
    </div>
{% endblock %}
